{% extends 'tunde/base.html' %}


{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 text-align-center my-auto ml-auto">
            <div class="container ml-5 pl-5">
            <h1 class="darkbrown">Flower Bay</h1>
            <p style="color: #562900; font-size: 35px; font-weight: lighter;" >Lovely flowers at your disposal</p>
            <button type="button" class="btn btn-link text-white px-5 py-2" style="background-color: #562900;">
                Shop now <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
            </div>

        </div>
        <div class="col-md-5">
            <img src="{% static './images/purepng1.png' %}" alt="" class="img-fluid" width=468>

        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #e5e5e5;">
<div class="container pt-5" >
    <h2 class="darkbrown pt-5" style="color: #562900; text-align: center;">Our Flower Store</h2>
    <p style="color: #562900; text-align: center;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa magni a quibusdam aut praesentium veritatis reprehenderit laudantium sapiente, magnam nesciunt vel eos velit, excepturi nam architecto! Est perspiciatis officiis ex.</p>
</div>
<div class="container">
    <div class="row pt-3 pb-5">
        <div class="col-md-4">
        <div class="card text-center">
            <img src="./image/white-brown-and-purple-petaled-flowers-9311621.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Natural Petal Bloom</h5>
                <p class="card-text">N10,000</p>
                
                <a href="#" class="btn" style="background-color: #562900; color: white;">Order here</a>
            </div>
            </div>
        </div>
        <div class="col-md-4">
        <div class="card text-center">
            <img src="./image/red-rose-flower-2079991.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Red Rose</h5>
                <p class="card-text">N6,500</p>
                
                <a href="#" class="btn" style="background-color: #562900; color: white;">Order here</a>
            </div>
        </div>
        
        </div>
        <div class="col-md-4">
        <div class="card text-center">
            <img src="./image/white-red-orange-and-brown-flowers-9311681.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Morning Blossom Bouquet</h5>
                <p class="card-text">N10,000</p>
               
                <a href="#" class="btn" style="background-color: #562900; color: white;">Order here</a>
            </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="container-fluid" style="">
    <div class="container pt-5" >
        <h2 class="darkbrown pt-5" style="color: #562900; text-align: center;">Our Flower Store</h2>
        <p style="color: #562900; text-align: center;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa magni a quibusdam aut praesentium veritatis reprehenderit laudantium sapiente, magnam nesciunt vel eos velit, excepturi nam architecto! Est perspiciatis officiis ex.</p>
    </div>
    <div class="container">
        <div class="row pt-3 pb-5">
            <div class="col-md-4">
            <div class="card text-center">
                <img src="./image/EnnyLennyVase.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Enny Lenny vase</h5>
                    <p class="card-text">N7,000</p>
                    
                    <a href="#" class="btn" style="background-color: #562900; color: white;">Order here</a>
                </div>
                </div>
            </div>
            <div class="col-md-4">
            <div class="card text-center">
                <img src="./image/ElizabethVine.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Elizabeth Vine Vase</h5>
                    <p class="card-text">N6,500</p>
                    
                    <a href="#" class="btn" style="background-color: #562900; color: white;">Order here</a>
                </div>
            </div>
            
            </div>
            <div class="col-md-4">
            <div class="card text-center">
                <img src="./image/ClearEmerald.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Clear Emerald Vase Set</h5>
                    <p class="card-text">N10,000</p>
                
                    <a href="#" class="btn" style="background-color: #562900; color: white;">Order here</a>
                </div>
                </div>
                

            </div>

        </div>
        
    </div>
</div>
<div class="container-fluid" style="background-color: #e5e5e5;">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="darkbrown mb-4 mt-5">What People Say About Us</h2>
                <p class="darkbrown">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus deleniti ratione deserunt at officia, ducimus unde est neque iure vero eaque, ullam reprehenderit illum sed aspernatur. Quidem iusto asperiores cupiditate!</p>
                <p class="darkbrown small muted mt-4 mb-5">Peter Parker</p>
            </div>
            <div class="col-md-6 girl text-right">
              <img src="./image/photo-of-woman-wearing-headscarf-18205751.png" alt="" class="rounded-circle">
            </div>
        </div>
    </div>
</div>
<div class="brownback py-5">
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4 class=" text-white">Flower Bay.</h4>
            <p class="small text-white">Lorem, ipsum  dolor sit amet consectetur adipisicing elit. Ad illum eaque: amet autem explicabo suscipit sapiente impedit velit minima! Eaque?
            Lorem ipsum: dolor sit amet, consectetur adipisicing elit. Deserunt, labore.
            </p>
          </div>
          <div class="col-md-2 text-white small">
            <h5>Contact Us</h5>
            <p><b>Lorem:</b> ipsum dolor sit amet.</p>
            <p><b>Lorem:</b> ipsum dolor sit amet.</p>
            <p><b>Lorem:</b> ipsum dolor sit amet.</p>
          </div>
          <div class="col-md-2 text-white small">
            <h5>LINKS</h5>
            <P>About us</P>
            <P>Gallery</P>
            <P>Blog</P>
            <P>Shop here</P>
          </div>
          <div class="col-md-4 text-right">
            <p class="text-left text-white ">Lorem ipsum dolor, sit amet consectetur adipisicing </p>
            <input type="search" style="border-radius:5px; padding: 12px 85px;">
          </div>
            
        </div>
    </div>
    <button type="button" class="btn btn-primary pos">Sign Up</button>
</div>


{% endblock %}
