
{% load static %}
<header>
    <div class="container">
      <nav>
        <!-- LOGO -->
        <img class="logo" src="{% static './images/main-logo.png' %}" alt="" />
        <!-- HAMBURGER ICON -->
        <div class="hamburger">
          <i class="fas fa-bars"></i>
        </div>
        <!-- NAVIGATION -->
        <ul class="nav-ul">
          <i class="fas fa-times close"></i>
          <li><a href="" class="nav-link current">Home</a></li>
          <li><a href="" class="nav-link">Services</a></li>
          <li><a href="" class="nav-link">About</a></li>
          <li><a href="" class="nav-link">Contact</a></li>
          <li><a href="" class="nav-link">Blog</a></li>
        </ul>
        <i class="fas fa-search search"></i>
      </nav>
    </div>
  </header>